  body{
  background-color: whitesmoke;
  height: 100vh;
  /* width: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page{
  width: 370px;
  height: 370px;
  padding: 20px;
  background-image: linear-gradient(45deg,rgb(172, 172, 145),#11b2f1);
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  
  
}

h2{
  color: white;
  text-align: center;
}

.weatherin{
  display: flex;
  justify-content: space-around;

}
h3{
  text-align: center;
  color: yellow;
  font-size: 25px;
  
}

img{
  height: 20%;
  width: 20%;
  display: block;
  margin: 0 auto;
   
}

.weatherin input{
  padding: 10px;
  width: 50%;
  background-color: white;
}

.btn{
  width: 40%;
  background-color: white;
  color: black;
  padding: 10px;
} 

/* responsive design */

@media(max-width:575.98px)
{
  #root{
    width: 87%;
  }
  
  .main-page{
    width: 87%;
    padding: 20px;
    background-color: rgb(17, 20, 21);
    
    
  }

  
.weatherin{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  align-items: center;


}


img{
  height: 20%;
  width: 20%;
  display: block;
  margin: 0 auto;
   
}


.weatherin input{
  padding: 10px;
  width: 80%;
  background-color: white;
}

.btn{
  width: 45%;
  background-color: white;
  color: black;
  padding: 6px;
} 

h3{
  margin-bottom: 15px;
  margin-top: 0;
}

h2{
  font-size: 18px;
}

}